main {
    background: url('../img/background_products_and_sells.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }

#buyButton{
  border: transparent;
}
#buyButton:hover{
  background: linear-gradient(to right, #10ABA2, #2E77CE);
  border: transparent;
}

