/*main {
    background: url('../img/background_all.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }*/


  body {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../img/background_all.png');
    background-size: 120rem;
    background-position: top 0.2rem right 2.4rem;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}