input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: initial;
  }
  
  .nav-tabs {
    border-bottom: 2px solid #ddd;
  }
  
  .nav-tabs .nav-item .nav-link {
    color: #c81e1e;
    font-weight: 500;
  }
  
  .nav-tabs .nav-item .nav-link.active {
    color: #fff;
    background-color: #4fc7ff;
    border-color: #4fc7ff;
  }

  .nav-tabs .nav-item .nav-link.disabled {
    color: #1e1d1d8b;
    background-color: #868c908f;
    border-color: #868c908f;
  }
  
  .tab-content {
    margin-top: 20px;
  }
  
  .shipping_choice {
    margin-top: 10px;
  }
  
  .shipping_choice div {
    margin-bottom: 10px;
  }
  
  .shipping_choice label {
    margin-left: 5px;
  }
  
  /* Address Form */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .form-control:focus {
    border-color: #f8c2d3;
    outline: none;
  }

  .payment_method div {
    margin-bottom: 10px;
  }
  
  .payment_method label {
    margin-left: 5px;
  }
  
  /* Checkout Summary */

  .checkout-summary {
    width:fit-content;
    flex: 1;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1.2rem;
    color: #000000;
  }
  
  .checkout-summary h2 {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .checkout-summary p {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }
  
  .discount {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .discount:hover {
    text-decoration: underline;
  }
  
 
  
  
  .checkout-summary h3 {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
  }
  
  .checkout-summary button {
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .checkout-summary button:hover {
    opacity: 0.9;
  }
  
  .checkout-summary .btn-success {
    background-color: #28a745;
    border: none;
  }
  
  .checkout-summary .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .checkout-summary .btn-danger {
    background-color: #dc3545;
    border: none;
  }

  .payment_fields {
    margin-bottom: 20px;
    position: relative;
  }
  
  .payment_fields label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  .payment_fields input {
    width:fit-content;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;
  }