#buscador {
    width: 50%;
}

.inputs-y-selectores {
    width: 150px;
    /* Ajustamos el tamaño para que todos los inputs sean consistentes */
}

header {
    padding: 0;
}

header .container {
    padding: 0;
}


/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    margin: 10px auto;
}

main {
    background: url('../img/background_all.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }

#mainImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#related-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#related-images img {
    width: 100px;
    height: auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

#related-images img:hover {
    transform: scale(1.1);
}

/* Diseño del producto dentro de products */

.product-details {
    background-color: #ffffff92;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a;
}

.product-details h1 {
    font-size: 26px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-category {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.product-description {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

#products-container a {
    text-decoration: none;
    color: inherit;
}

.product-card {
    background-color: #ffffff92;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a;
    transition: box-shadow 0.3s ease;
}

.product-card-link {
    text-decoration: none;
    color: inherit;
}


/* Diseño del producto dentro de product-info (tarjetas de productos relacionados) */
#title-related-products {
    padding-top: 20px;
}

#related-products {
    display: flex;
    gap: 15px;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-top: 0;
}

.related-products {
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
    text-align: center;
    background-color: #ffffff92;
    box-shadow: 0px 0px 5px #00000033;
    transition: box-shadow 0.3s ease;
}

.related-products img {
    height: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-info {
    font-size: 14px;
    color: #333;
}


/* Diseño para agregar comentarios y modificar el rating */

#average-rating {
    font-size: 2.2rem;
    padding-right: 1rem;
}

#rating-stars .fa-star {
    color: #a0a0a0;
    cursor: pointer;
}

#rating-stars .fa-star.checked {
    color: #ffd700;
}

#rating-stars .fa-star-half-alt {
    color: #ffd700;
}

.rating-and-comments {
    background-color: #e0e0e0e7;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000008f;
}

#rating-histogram {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#rating-count {
    margin-top: 10px;
}


.princial-starts {
    font-size: 2rem;
}

#comment {
    flex-grow: 1;
}

/* Diseño para comentarios */

#title-comments-section {
    padding-top: 40px;
}

.sold-count {
    font-size: 12px;
    color: #777;
}

/* #comments-section {
    
} */

.fa-star {
    color: #d3d3d3;
    stroke: #333;
}

.fa-star.checked {
    color: #ffd700;
    stroke: #333;
    stroke-width: 10%;
}

.no-border {
    border: none;
    background: none;
    width: 9rem;
    padding: 0;
}

.form-group {
    margin: 0.7rem 1rem;
}

.comment-card {
    padding: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #d3d3d3;
}

.comment-user,
.comment-date {
    font-size: 15px;
    color: #777;
}

.comment-description {
    align-items: center;
    display: flex;
    align-self: center;
}

@media (max-width: 768px) {
    #related-images {
        grid-template-columns: 1fr;
    }

    .inputs-y-selectores {
        width: 120px;
    }
}

@media (max-width: 768px) {

    .d-flex {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;

    }

    .form-select {
        width: 100%;
        margin-bottom: 10px;
    }

    .form-control {
        width: 100%;
    }

    .inputs-y-selectores {
        align-items: center;
    }
}