#buscador {
    width: 40%;
}

.inputs-y-selectores {
    width: 150px; /* Ajustamos el tamaño para que todos los inputs sean consistentes */
}

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
.container {
    max-width: 1200px;
    margin: 10px auto;
  }
  

#image-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}




#mainImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#related-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#related-images img {
    width: 100px; 
    height: auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

#related-images img:hover {
    transform: scale(1.1);
}
  
/* Detalles del producto */
.product-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.product-details h1 {
    font-size: 26px;
    margin-bottom: 10px;
}
  
.product-price {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.product-category {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}
  
.product-description {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

#products-container a {
    text-decoration: none;
    color: inherit;
}


/* Asegúrate de que la tarjeta tenga el cursor pointer */
.product-card {
    background-color: #fff; /* Color de fondo de la tarjeta */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
    transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Transición suave para el efecto de hover */
    position: relative; /* Para ajustar el posicionamiento del enlace dentro de la tarjeta */
    overflow: hidden; /* Para que no se salga el contenido */
    cursor: pointer; /* Cambia el cursor a pointer cuando se pasa sobre la tarjeta */
}

/* Asegúrate de que el enlace ocupe todo el contenedor de la tarjeta */
.product-card-link {
    display: block; /* Hace que el enlace ocupe todo el espacio de la tarjeta */
    height: 100%; /* Asegura que el enlace ocupe toda la altura */
    width: 100%; /* Asegura que el enlace ocupe toda la anchura */
    text-decoration: none; /* Quita el subrayado del enlace */
    color: inherit; /* Hereda el color del contenedor para asegurar que no cambie el color del texto */
}

/* Asegúrate de que el cursor pointer se aplica correctamente sobre el enlace dentro de la tarjeta */
.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más intensa al hacer hover */
    background-color: #fbf0e2b4; /* Color de fondo de la tarjeta */
}

.product-card img {
    width: 100%; /* Asegura que la imagen ocupe el ancho de la tarjeta */
    border-bottom: 1px solid #ddd; /* Línea de separación entre imagen y contenido */
}




.sold-count {
    font-size: 12px;
    color: #777;
}

@media (max-width: 768px) {
    #related-images {
      grid-template-columns: 1fr;
    }
}
  