body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #cccccc 300px, #eeeeee 300px);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}




main {
    flex-grow: 1; /* Permite que el main crezca y ocupe todo el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px; /* Añadir espacio inferior para evitar que el footer se solape */
}


.login-container {
    width: 30em;
    text-align: center;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 50%;
    background-color: #252628;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #3f3f3f;
}


.password-container {
    position: relative;
}

.password-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
}


header {
    background: #121219;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    box-sizing: border-box;
    /* Asegúrate de que el padding no afecte el ancho total */
    margin: 0;
}

.header-container {
    width: 100%;
    text-align: center;
}

h1 {
    font-family: "Love Ya Like A Sister", cursive;
    margin: 0;
}



@media (max-width: 768px) {
    .login-container {
        width: 25em;
    }
}

@media (max-width: 576px) {

    body {
        background-color: #AAA8A4;
    }

    .login-container {
        width: 20em;
        padding: 15px;
    }

    button {
        width: 50%;
    }

    input {
        margin: 5px 0;
    }

    footer {
        visibility: hidden;
    }
}







.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;

    }

    html,
    body {
        height: 100%;
        margin: 0;
    }
}


.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin: 0 auto;
    max-width: 800px;
    padding: 50px 20px 20px 20px;
}

.profile-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

form {
    max-width: 800px;
    width: 100%;
}

label {
    display: block;
    text-align: center;
}

button {
    margin-top: 20px;
}

input {
    display: block;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-md-6 {
    width: 50%;
    padding: 10px;
}

.btn-outline-secondary {
    display: block;
    margin-top: 10px;
}












